<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Ethereum Sea</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="lib/noty.3.1.4.min.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="src/main.css">
    </head>
    <body>
        <div id="spinner" class="lds-dual-ring"></div>
        <div id="ui-main" align="center">
            <!--MENU---------------------------------------------->
            <div class="d-flex flex-row m-1" style="z-index:100;position:fixed;">
                <div>
                    <a class="btn btn-info btn-sm" data-toggle="collapse" href="#menu-list" role="button">
                        <img src="media/md-menu.svg" height="20" width="20">
                    </a>
                </div>
                <div>
                    <div class="card collapse" id="menu-list" style="width:200px;">
                        <div class="card card-body p-1">
                            <button type="button" class="btn btn-block btn-info" @click="conductSearch()" v-if="address.length>0" :disabled="nextSearchTime>0">
                                Claim New Plane <span v-if="nextSearchTime>0">({{nextSearchTime}}s)</span>
                            </button>
                            <button type="button" class="btn btn-block btn-info" v-if="heroIds.length>0" @click="show=1" data-toggle="collapse" href="#menu-list">View Heroes</button>
                            <button type="button" class="btn btn-block btn-info" v-if="completedChallenges.length>0" @click="show=3" data-toggle="collapse" href="#menu-list">View Challenges</button>
                            <button type="button" class="btn btn-block btn-success" @click="claimHeroFunds()" v-if="shareToClaim>0" data-toggle="collapse" href="#menu-list">
                                Claim <span class="font-weight-bold">Ξ</span>
                                {{shareToClaim}}      
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MENU---------------------------------------------->
            <!--OVERHEAD---------------------------------------------->
            <div class="overlay m-1 p-1" style="top:0;" v-if="show>-1" v-cloak>
                <!--PLANE INFO---------------------------------------------->
                <div v-if="tid>-1 && show<1" v-cloak>
                    <h5 class="m-0">
                        {{planeData.name}} (#{{tid}})
                        <a class="btn btn-info btn-sm" role="button" :href="'shards.html?tid='+tid">View</a>
                        <button type="button" class="close" @click="tid=-1,show=-1">&times;</button>
                    </h5>
                    <div>People: {{planeData.people.slice(0,2).join(" // ")}}</div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-success" type="button" v-if="address.length>0" @click="Recruit()" :disabled="nextRecruitTime>0">
                            Recruit Hero<span v-if="nextRecruitTime>0">({{nextRecruitTime}}s)</span>
                        </button>
                        <button class="btn btn-success" type="button" v-if="address.length>0 && planeCrew.crew" @click="show=4">Recruit Crew</button>
                        <button class="btn btn-success" type="button" v-if="address.length>0 && trouble.period" @click="show=2">Solve Trouble</button>
                    </div>
                    <div v-if="trouble.period">
                        <h6 class="mx-1 my-0">Trouble: {{trouble.approach}} {{trouble.skill}} [{{trouble.diff}}/{{trouble.sz}}]</h6>
                    </div>
                </div>
                <!--END PLANE INFO---------------------------------------------->
                <!--RECRUIT CREW---------------------------------------------->
                <div class="p-1" v-if="show == 4" v-cloak>
                    <h5 class="m-0">Select New Crew Recruit</h5>
                    <div v-if="nextCrewRecruitTime>0">Time Until Next Recruit: {{nextCrewRecruitTime}} min</div>
                    <div v-for="(C,i) in planeCrew.crew" v-if="i < 5 && C.available">
                        <button class="btn btn-success btn-block my-1" type="button" @click="recruitCrew(C.i)" :disabled="nextCrewRecruitTime > 0">{{C.people}} {{approachNames[C.approach]}} {{skillNames[C.skill]}} {{C.r}}</button>
                    </div>
                    <button type="button" class="btn btn-info btn-block" @click="show=-1">Close</button>
                </div>
                <!--END RECRUIT CREW---------------------------------------------->
                <!--CHALLENGES---------------------------------------------->
                <div v-if="show == 3" v-cloak>
                    <div v-for="C in completedChallenges">
                        <h5 class="my-0">Period {{C[1].period}} / Plane {{C[1].plane}}</h5>
                        <div>Heroes: {{C[1].heroes.join(', ')}}</div>
                    </div>
                    <button type="button" class="btn btn-info btn-block" @click="show=-1">Close</button>
                </div>
                <!--END CHALLENGES---------------------------------------------->
                <!--TROUBLE---------------------------------------------->
                <div v-if="show == 2" v-cloak>
                    <h5 class="my-0">Plane {{tid}} Trouble</h5>
                    <h6 class="mx-1 my-0">{{trouble.approach}} {{trouble.skill}} [{{trouble.diff}}/{{trouble.sz}}]</h6>
                    <div class="mt-1" v-for="n in 6">
                        <h5 class="m-0">{{skillNames[n-1]}}</h5>
                        <div class="d-flex justify-content-around align-items-center">
                            <div :class="troubleHeroIds[n-1] == -1 ? 'w-100' : ''">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Hero</span>
                                    </div>
                                    <select class="custom-select" v-model="troubleHeroIds[n-1]" @change="drawArc()">
                                        <option v-for="(id,j) in heroIds" v-if="canAct[j]" :value="id">{{id}}</option>
                                    </select>
                                    <div class="input-group-append" v-if="troubleHeroIds[n-1] != -1">
                                        <span class="input-group-text">{{troubleHeroes[n-1].skillsById[n-1]}} / {{skillDiff(n-1).p}}%</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <svg :id="'dpArc-'+(n-1)" height="1" width="1"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-block" role="group">
                        <button type="button" class="btn btn-success btn-block" v-if="canSolveTrouble" @click="commitToSolveTrouble(),show=-1">Commit</button>
                        <button type="button" class="btn btn-info" :class="canSolveTrouble ? '' : 'btn-block'" @click="show=-1">Close</button>
                    </div>
                </div>
                <!--END TROUBLE---------------------------------------------->
                <!--HEROES---------------------------------------------->
                <div class="mt-2" v-if="show == 1" v-cloak>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Heroes</span>
                        </div>
                        <select class="custom-select" v-model="hid">
                            <option v-for="(id,i) in heroIds" :value="id">{{allHeroes[i].name}} #{{id}}</option>
                        </select>
                    </div>
                    <div v-if="hid > -1">
                        <input class="form-control" type="text" placeholder="Hero Name" v-model="heroData.name">
                        <div>Home Plane: {{heroData.plane}} XP: {{heroData._xp[1]}}/{{heroData._xp[0]}}</div>
                        <div>People: {{heroData.ppl}}</div>
                        <div>Aspects: {{heroData.approaches.join(', ')}}</div>
                        <h6 class="m-0">Skills</h6>
                        <div class="d-flex justify-content-between mx-1" v-for="s in heroData.skills">
                            <div>[{{s[0]}}]</div>
                            <div>{{s.slice(1).join(", ")}}</div>
                        </div>
                        <h6 v-if="cooldown!=''" v-cloak>Cooldown: {{cooldown}}hrs</h6>
                    </div>
                    <div class="btn-group btn-block" role="group">
                        <button type="button" class="btn btn-success btn-block" @click="saveHero()">Save</button>
                        <button type="button" class="btn btn-info" @click="show=-1">Close</button>
                    </div>
                </div>
                <!--END HEROES---------------------------------------------->
            </div>
            <!--END OVERHEAD---------------------------------------------->
            <div id="map">
                <canvas height="0" width="0"></canvas>
            </div>
            <!--FOOTER---------------------------------------------->
            <!--END FOOTER---------------------------------------------->
            <div class="overlay m-1 p-1" style="bottom:0;" align="center">
                <div class="bg-light" v-if="address != ''">
                    <div class="d-flex justify-content-center">
                        <span class="font-weight-bold">Ξ</span>
                        <span>{{balance}}</span>
                        <span class="font-weight-bold diamond">&#10023;</span>
                        <span>{{CPX[0]}}</span>
                        <div class="input-group input-group-sm ml-2" style="width:175px;" v-if="maxCPX>0 && unlocked">
                            <input type="number" class="form-control" min="0" :max="maxCPX" step="0.1" v-model="toCombine">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" @click="combineCPX()">Combine CPX</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" style="font-size: small;">
                        <span class="mr-1" v-for="n in 6">
                            <span class="font-weight-bold" :class="cpxNames[n].toLowerCase()">&#10023;</span>
                            <span>{{CPX[n]}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="src/nameGenerate.js"></script>
    <script src="lib/ethers-v4.min.js"></script>
    <script src="lib/d3.v5.min.js"></script>
    <script src="lib/vue.2.5.16.min.js"></script>
    <script src="lib/noty.3.1.4.min.js"></script>
    <script src="lib/popper.1.12.3.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script type="module" src="src/main.js"></script>
</html>
