<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Ethereum Sea</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="lib/noty.3.1.4.min.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="src/main.css">
    </head>
    <body>
        <div id="spinner" class="lds-dual-ring"></div>
        <div id="ui-main" align="center">
            <!--MENU---------------------------------------------->
            <div class="d-flex flex-row m-1" style="z-index:100;position:fixed;">
                <div>
                    <a class="btn btn-info btn-sm" data-toggle="collapse" href="#menu-list" role="button">
                        <img src="media/md-menu.svg" height="20" width="20">
                    </a>
                </div>
                <div>
                    <div class="card collapse" id="menu-list" style="width:200px;">
                        <div class="card card-body p-1">
                            <button type="button" class="btn btn-block btn-info" @click="conductSearch()" v-if="address.length>0" :disabled="nextSearchTime>0">
                                Claim New Plane <span v-if="nextSearchTime>0">({{nextSearchTime}}s)</span>
                            </button>
                            <button type="button" class="btn btn-block btn-info" v-if="heroIds.length>0" @click="showHeroes=!showHeroes">View Heroes</button>
                            <button type="button" class="btn btn-block btn-success" @click="claimHeroFunds()" v-if="shareToClaim>0">
                                Claim <span class="font-weight-bold">Ξ</span>
                                {{shareToClaim}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MENU---------------------------------------------->
            <!--OVERHEAD---------------------------------------------->
            <div class="overlay m-1" style="top:0;">
                <div v-if="solveTrouble" v-cloak>
                    <h5 class="my-0">Plane {{tid}} Trouble</h5>
                    <h6 class="mx-1 my-0">{{trouble.approach}} {{trouble.skill}} [{{trouble.diff}}/{{trouble.sz}}]</h6>
                    <div class="mt-1" v-for="n in 6">
                        <h5 class="m-0">{{skillNames[n-1]}}</h5>
                        <div class="d-flex justify-content-around align-items-center">
                            <div :class="troubleHeroIds[n-1] == -1 ? 'w-100' : ''">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Hero</span>
                                    </div>
                                    <select class="custom-select" v-model="troubleHeroIds[n-1]" @change="drawArc()">
                                        <option v-for="id in heroIds" :value="id">{{id}}</option>
                                    </select>
                                    <div class="input-group-append" v-if="troubleHeroIds[n-1] > -1">
                                        <span class="input-group-text">{{troubleHeroes[n-1].skillsById[n-1]}} / {{skillDiff(trouble.diff,n-1).p}}%</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <svg :id="'dpArc-'+(n-1)" height="1" width="1"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-block" role="group">
                        <button type="button" class="btn btn-success btn-block" v-if="canSolveTrouble" @click="commitToSolveTrouble(),solveTrouble=false">Commit</button>
                        <button type="button" class="btn btn-info" :class="canSolveTrouble ? '' : 'btn-block'" @click="solveTrouble=false">Close</button>
                    </div>
                </div>
                <div v-if="tid>-1 && !solveTrouble" v-cloak>
                    <h5 class="m-0">
                        Plane {{tid}}<button type="button" class="close" @click="tid=-1">&times;</button>
                    </h5>
                    <button class="btn btn-success" type="button" v-if="address.length>0" @click="Recruit()" :disabled="nextRecruitTime>0">
                        Recruit Hero<span v-if="nextRecruitTime>0">({{nextRecruitTime}}s)</span>
                    </button>
                    <button class="btn btn-success" type="button" v-if="address.length>0 && trouble.period" @click="solveTrouble=true">Solve Trouble</button>
                    <div v-if="trouble.period">
                        <h6 class="mx-1 my-0">Trouble: {{trouble.approach}} {{trouble.skill}} [{{trouble.diff}}/{{trouble.sz}}]</h6>
                    </div>
                </div>
                <div class="mt-2" v-if="showHeroes && !solveTrouble" v-cloak>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Heroes</span>
                        </div>
                        <select class="custom-select" v-model="hid">
                            <option v-for="id in heroIds" :value="id">{{id}}</option>
                        </select>
                    </div>
                    <div v-if="hid > -1">
                        <input class="form-control" type="text" placeholder="Hero Name" v-model="heroData.name">
                        <div>Home Plane: {{heroData.tid}}</div>
                        <div>People: {{heroData.ppl}}</div>
                        <div>Aspects: {{heroData.approaches.join(', ')}}</div>
                        <h6 class="m-0">Skills</h6>
                        <div class="d-flex justify-content-between mx-1" v-for="s in heroData.skills">
                            <div>[{{s[0]}}]</div>
                            <div>{{s.slice(1).join(", ")}}</div>
                        </div>
                    </div>
                    <div class="btn-group btn-block" role="group">
                        <button type="button" class="btn btn-success btn-block" @click="saveHero()">Save</button>
                        <button type="button" class="btn btn-info" @click="showHeroes=false">Close</button>
                    </div>
                </div>
            </div>
            <!--END OVERHEAD---------------------------------------------->
            <div id="map">
                <canvas height="0" width="0"></canvas>
            </div>
            <!--FOOTER---------------------------------------------->
            <!--END FOOTER---------------------------------------------->
            <div class="overlay m-1 p-1" style="bottom:0;" align="center">
                <div class="bg-light" v-if="address != ''">
                    <div class="d-flex justify-content-center">
                        <span class="font-weight-bold">Ξ</span>
                        <span>{{balance}}</span>
                        <span class="font-weight-bold diamond">&#10023;</span>
                        <span>{{CPX[0]}}</span>
                        <div class="input-group input-group-sm ml-2" style="width:175px;" v-if="maxCPX>0 && unlocked">
                            <input type="number" class="form-control" min="0" :max="maxCPX" step="0.1" v-model="toCombine">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" @click="combineCPX()">Combine CPX</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1" style="font-size: small;">
                        <span class="mr-1" v-for="n in 6">
                            <span class="font-weight-bold" :class="cpxNames[n].toLowerCase()">&#10023;</span>
                            <span>{{CPX[n]}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="lib/ethers-v4.min.js"></script>
    <script src="lib/d3.v5.min.js"></script>
    <script src="lib/vue.2.5.16.min.js"></script>
    <script src="lib/noty.3.1.4.min.js"></script>
    <script src="lib/popper.1.12.3.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script type="module" src="src/main.js"></script>
</html>
