<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Ethereum Sea</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="lib/noty.3.1.4.min.css">
        <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="src/shards.css">
    </head>
    <body>
        <div id="spinner" class="lds-dual-ring"></div>
        <div id="ui-main" align="center">
            <!--MENU---------------------------------------------->
            <div class="d-flex flex-row m-1" style="position:absolute;">
                <div>
                    <a class="btn btn-info btn-sm" data-toggle="collapse" href="#menu-list" role="button">
                        <img src="media/md-menu.svg" height="20" width="20">
                    </a>
                </div>
                <div>
                    <div class="card collapse" id="menu-list" style="width:200px;">
                        <div class="card card-body p-1">
                            <button class="btn btn-info btn-block my-1" type="button" data-toggle="collapse" href="#unlockMenu">Unlock</button>
                            <div id="unlockMenu" class="collapse">
                                <button class="btn btn-info btn-block my-1" type="button" v-for="n in 7" v-if="!allowance.combiner[n-1]" @click="unlockCombiner(n-1)"> Unlock {{cpxNames[n-1]}}</button>
                                <button class="btn btn-info btn-block my-1" type="button" v-for="n in 1" v-if="!allowance.NFT[n-1]" @click="unlockNFT(n-1)"> Unlock {{nftNames[n-1]}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MENU---------------------------------------------->
            <div class="overlay">
                <div v-if="address != ''">
                    <div><span>Ξ{{balance}} CPXD {{CPX[0]}}</span></div>
                    <div>CPX {{CPX.slice(1).join(' ')}}</div>
                </div>
                <div class="input-group" v-if="maxCPX>0 && unlocked">
                    <input type="number" class="form-control" min="0" :max="maxCPX" step="0.1" v-model="toCombine">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="button" @click="combineCPX()">Combine CPX</button>
                    </div>
                </div>
                <div>
                  <button type="button" class="btn btn-block btn-success m-0" @click="conductSearch()" :disabled="nextSearchTime>0">Claim New Shard <span v-if="nextSearchTime>0">({{nextSearchTime}}s)</span></button>
                  <button type="button" class="btn btn-block btn-success m-0" v-if="pid>-1" @click="tap()" :disabled="nextTapTime>0">Tap Plane {{pid}}/Shard {{sid}}<span v-if="nextTapTime>0">({{nextTapTime}}s)</span></button>
                </div>
            </div>
            <div id="map" style="overflow-x:auto;">
                <canvas height="0" width="0"></canvas>
            </div>
        </div>
    </body>
    <script src="lib/ethers-v4.min.js"></script>
    <script src="lib/d3.v5.min.js"></script>
    <script src="lib/vue.2.5.16.min.js"></script>
    <script src="lib/noty.3.1.4.min.js"></script>
    <script src="lib/popper.1.12.3.min.js"></script>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script type="module" src="src/shards.js"></script>
</html>
