[v-cloak] {
  display: none;
}

body {
  margin: 0;
  background-color: silver;
  overflow: hidden;
}

/* OVERLAY FOR CENTER DATA */
.overlay {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  max-height: 70%;
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  .overlay {
    width: 90%;
  }
}

/*CSS styling for Maps */
circle.planet {
  stroke: black;
  fill: none;
}

circle.shard {
  stroke: black;
  fill: green;
}

.diamond {
  color: aliceblue;
}
.ruby {
  color: red;
}
.citrine {
  color: orange;
}
.topaz {
  color: yellow;
}
.emerald {
  color: green;
}
.sapphire {
  color: blue;
}
.amethyst {
  color: purple;
}
