[v-cloak] {
  display: none;
}

body {
  margin: 0;
  background-color: silver;
}

/*CSS styling for Maps */
path.slice {
  stroke: black;
  fill: white;
}
path.slice.filled {
  fill: red;
}

rect.plate {
  fill: lightblue;
  stroke: black;
}

circle.water {
  fill: lightblue;
}

circle.land {
  fill: green;
}

polygon.tris {
  fill: none;
}

polygon.land {
  fill: darkgreen;
  stroke: darkgreen;
}

polygon.water {
  fill: lightblue;
  stroke: lightblue;
}

polygon.deep-water, rect.deep-water {
  fill: blue;
}

circle.sector {
  stroke-width : 4;
  stroke-dasharray : 5,5;
  stroke: blue;
  fill: none;
}

circle.orbital {
  stroke-width : 2;
  stroke: black;
  fill: none;
}

circle.system {
  fill: green;
}

circle.selected {
  fill: rgba(0,0,255,0.5);
}

.system.selected {
  stroke-width : 3;
  stroke: yellow;
}

/*CSS styling for Plate Maps */
path, line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
}

.field {
  stroke: none;
  fill-opacity: 1.0;
}

.slope {
  stroke-width: 1;
  stroke: brown;
}

.river {
  stroke-width: 2;
  stroke: blue;
}

.coast {
  stroke-width: 4;
}

.border {
  stroke-width: 5;
  stroke-dasharray: 4,4;
  stroke-linecap: butt;
}

/*
  Loader Spinner
*/

#spinner {
  position : fixed;
  left : 50%;
  top: 50%;
  transform: scale(4, 4);
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring.hidden {
  display: none;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}